<div class="es bsk">
  <div class="brv">
    <div class="brw">
      <h5 class="brx">MARCAS</h5>
      <h2 class="brx">EDITAR</h2>
    </div>
  </div>

  <div class="bpx azo">
    
  </div>

  
  
  <%= form_tag({:action => 'update'}, {:class =>'form-horizontal'}) do %>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <%= text_field_tag 'nombre',@nombre, class: 'form-control', placeholder: "Escriba el nombre" %>
    </div>
    
    <%= submit_tag 'Guardar', class: 'btn btn-default'%> 
  
      <% flash.each do |key, value| %>
         <div class="alert alert-danger">
          <strong>Error!</strong> <%= value %>
          </div>
      <% end %>
    
    
  <% end %>


</div>